button {
    position: absolute;
    bottom: 0;
    width: 314px;
    height: 60px;
    background-color: rgb(91, 83, 255);
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}