.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 314px;
    height: 60px;
    background-color: #e9e3ff;
    color: #5d56fe;
    border-radius: 26px;
    font-family: 'Gilroy-SemiBold';
    margin: 15px 0;
    padding: 0 30px;
    cursor: pointer;
}

.category-item:first-child,
.category-item:last-child {
  margin: 0;
}

.category-item-text {
  width: 300px;
}
