.categories-list {
    margin: 20px auto;
    width: 314px;
}

.h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    margin-bottom: 15px;
}

.categories-list p {
    font-family: 'Gilroy-Regular';
    color: rgb(143, 155, 186);
}

@media screen and (max-height: 844px) {
    .categories-list-list {
        margin: 15px 0;
        width: 314px;
        min-height: 450px;
        height: 76vh;
        overflow: scroll;
    }
}

@media screen and (max-height: 667px) {
    .categories-list-list {
        max-height: 70vh;
    }
}