.categories-list {
    margin: 59px auto;
    width: 314px;
    height: 720px;
}

.h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-family: 'Gilroy-Regular';
    color: rgb(143, 155, 186);
}

.categories-list-list {
    height: 580px;
    margin-bottom: 20px;
    overflow-x: scroll;
}