.create {
  position: relative;
  margin: 59px auto;
  width: 314px;
  height: 720px;
}

.create-footer {
  display: flex;
  justify-content: space-between;
}

.create p {
  font-family: 'Gilroy-Regular';
  color: rgb(143, 155, 186);
}
