@font-face {
    font-family: 'Gilroy-Black';
    src: local('Gilroy Black'),
    local('Gilroy-Black'),
    url('../assets/fonts/Gilroy-Black.woff');
  }
  
  @font-face {
    font-family: 'Gilroy-Heavy';
    src: local('Gilroy Heavy'),
    local('Gilroy-Heavy'),
    url('../assets/fonts/Gilroy-Heavy.woff');
  }

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy Bold'),
    local('Gilroy-Bold'),
    url('../assets/fonts/Gilroy-Bold.woff');
  }
  
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../assets/fonts/Gilroy-ExtraBold.woff');
  }

  @font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy SemiBold'),
    local('Gilroy-SemiBold'),
    url('../assets/fonts/Gilroy-SemiBold.woff');
  }

  @font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy Medium'),
    local('Gilroy-Medium'),
    url('../assets/fonts/Gilroy-Medium.woff');
  }
  
  @font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy Regular'),
    local('Gilroy-Regular'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../assets/fonts/Gilroy-Light.woff');
  }
  
  @font-face {
    font-family: 'Gilroy-UltraLight';
    src: local('Gilroy UltraLight'),
    local('Gilroy-UltraLight'),
    url('../assets/fonts/Gilroy-UltraLight.woff');
  }

  @font-face {
    font-family: 'Gilroy-Thin';
    src: local('Gilroy Thin'),
    local('Gilroy-Thin'),
    url('../assets/fonts/Gilroy-Thin.woff');
  }