@media screen and (max-height: 844px) {
    .home {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        height: 93.6vh;
        overflow: scroll;
    }

    .btn-postion {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-height: 667px) {
    .home {
        max-height: 100vh;
    }

    .btn-postion {
        position: absolute;
        bottom: 8px;
    }
}

.home {
    position: relative;
    margin: 20px auto;
    width: 314px;
}

.h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    margin-bottom: 15px;
}