.home {
    position: relative;
    margin: 59px auto;
    width: 314px;
    height: 720px;
}

.h2 {
    font-family: 'Gilroy-SemiBold';
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-family: 'Gilroy-Regular';
    color: rgb(143, 155, 186);
}

.quiz-list {
    margin-top: 110px;
    height: 490px;
}