/* @media screen and (max-height: 844px) {
  .quiz {
    height: 58vh;
  }
} */

@media screen and (min-height: 844px) {
  .quiz {
    margin-top: 110px;
    min-height: 550px;
  }

  .quiz-text {
    min-height: 450px;
  }
}

@media screen and (min-height: 750px) and (max-height: 844px) {
  .quiz {
    margin-top: 90px;
    min-height: 490px;
  }
  
  .quiz-text {
    min-height: 380px;
  }
}

@media screen and (min-height: 650px) and (max-height: 750px) {
  .quiz {
    margin-top: 70px;
    height: 61vh;
  }

  .quiz-text {
    min-height: 42vh;
  }
}

.quiz {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 314px;
    background-color: #fff;
    border-radius: 26px;
    margin-bottom: 20px;
  }

  .quiz-title {
    position: absolute;
    top: -15%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 137px;
    border-radius: 15px;
    background: linear-gradient(
      135deg,
      rgb(78, 70, 255) 0%,
      rgb(105, 97, 255) 58.015%,
      rgb(76, 148, 255) 100%
    );
    color: #fff;
    font-family: 'Gilroy-Regular';
    box-shadow: 0px 5px 10px #c5c5c5;
  }
  
  .quiz-title h3 {
    font-family: 'Gilroy-Bold';
    margin-bottom: 15px;
  }
  
  .quiz-title h4 {
    padding: 0 15px;
    text-align: center;
  }
  
  .quiz-text {
    width: 265px;
    overflow-y: scroll;
    margin-bottom: 30px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
}